body{
	margin: 0;
  padding: 0;	
	font-family: 'Montserrat', sans-serif;
}
.miHeader{
	height: 450px;
	background: url(../img/laboratory.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;	
}
h1{
 text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 40px #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  clear: both;
  padding: 100px 0 30px;
}
span{
	display: inline-block;
    padding: 0.2em 0.5em;
	border: #CECECE transparent 3px;
  	background: rgba(000, 000, 000, 0.1);
}
.Menu {	
	float: left;
	width: 100%;
  	margin: 0 auto;
  	border: #CECECE transparent 3px;
  	background: rgba(000, 000, 000, 0.7);
  	padding: 1em 1em;  	
  	text-align: center;
}
.MenuLink{	
	display: inline-block;
    margin: 0 20px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}
.Menu .MenuLink:hover{
	text-shadow: 3px 3px 10px #fff;
}
.Contenido{
  display: flex;
}
.Circular{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background-image: url(../img/patient2.jpg)
}
.Contenido-texto{
  width: 100%;
}
.Footer{
	text-align: center;
	color: white;
	border: #CECECE transparent 3px;
  	background: rgba(000, 000, 000, 0.7);
  	padding: 1em 1em;
}
@media (max-width: 400px){
  body{
    background-color: pink;
    color: pink;
  }
}