body{
	margin: 0;
  padding: 0;	
	font-family: 'Montserrat', sans-serif;
  background: #E0E0E0;
}
#miHeader{
	height: 800px;
	background: url(../img/laboratory.jpg);
  background-color: #053152;
  border-bottom: 2px solid black;	
	background-size: cover;
	background-repeat: no-repeat;  
	margin: 0 auto;	
  text-align: center;
}
h1{
 text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 50px #000;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 20px;
  clear: both;
  padding: 100px 0 10px;
}
#leyenda{
  font-size: 16px;
  font-style: italic;
  text-align: center;  
  color: rgba(255,255,255,0.9);
  text-shadow: 1px 1px 2px rgba(0,0,0,1);  
  padding: 5px;
}
span{
	display: inline-block;
  padding: 0.2em 0.5em;
	border: #67BDF6 solid 2px;
  background: rgba(069, 069, 069, 0.6);
}
.Menu{	
	float: left;
	width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0px;
	border: #CECECE transparent 3px;
	background: rgba(255, 255, 255, 0.8);	
	text-align: center;  
}
.Menu-list ul{
  list-style-type: none; 
  overflow: hidden;
  margin: 0;
  padding: 7px;
}
li{
  display: inline;
  padding: 17px;
  text-align: center;
}
.MenuLink a{	
	display: inline-block;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(000, 000, 000, 1);
}
.MenuLink:hover{
	/*text-shadow: 3px 3px 10px #fff;*/
  /*background: pink;*/
}
.Content{
  margin: 0 auto;
}
.Contenido{
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  border: 2px solid #053152;
  border-radius: 10px;    
  margin: 2px;
}
.Contenido-texto{
  width: 81%;
  font-size: 18px;
}
#der{
  float: right;
  margin: 10px;  
}
#izq{
  float: left;
  margin: 10px;
}
.Circular{  
  width: 200px;
  height: 200px;  
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  /*background-image: url(../img/patient3.jpg);*/
  background-position: center;
}
.Footer{
	text-align: center;
	color: white;
	border: #CECECE transparent 3px;
  background: rgba(004, 036, 061, 1);
  padding: 1em 1em;
}
@media (max-width: 400px){
  body{
    background-color: pink;
    color: pink;
  }
}